{% extends 'nav.html' %}
{% block body %}


<div class="formulaire">
    
            <table class="table table-striped">
                
                    <tr>
                        <th>Id</th>
                        <th>nom_ref</th>
                        
                    </tr>
                    {% for row in ref%}
                    <tr>
                        <td>{{row.0}}</td>
                        <td>{{row.1}}</td>
                        
    
                        <td>
                            <a href="/update/{{row.0}}" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal{{row.0}}">Modifier</a>
                        </td>
    
    
                    </tr>
                    <!-- Modal -->
<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal{{row.0}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modification du Référentiel</h4>
      </div>
      <div class="modal-body">
            <form action="{{ url_for('update') }}" method="POST">

                    <div class="form-group">
                      <label>Name:</label>
                      <input type="hidden"  name="id" value="{{row.0}}">
                      <input type="text" class="form-control" name="nom_ref" value="{{row.1}}">
                    </div>

                    <div class="form-group">     
                       <button class="btn btn-primary" type="sbumit">Mettre a jour</button>
                    </div>
     
            </form>
     
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>

          {% endfor %}
                </table>
        
    </div>
    
            
       

{% endblock body %}





















